// Bootstrap Overrides
// -----------------------
$font-family-sans-serif:  "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif
$font-family-cursive:  "Pacifico", cursive
$font-family-serif: "Merriweather", "Georgia", serif

$yellow: #f8d930
$yellow-light: lighten($yellow,18%) // #fff691
$yellow-lighter: lighten($yellow,30%)
$gray: #636a6d
$gray-darker: darken($gray, 15%)
$gray-light: lighten($gray, 15%)
$pink: #edbbaa
$pink-lighter: lighten($pink, 15%)


@import "bootstrap"

body
    background: #fafafa
    color: #111
    padding: 0
    margin: 0
.mm-headline
    position: relative
    width: 400px
    top: 10%
    left: 20%
.mm-top
    margin-bottom: 35px
    height: 600px
    text-align: center
    background-size: cover
    h1
        font-family: $font-family-sans-serif
        padding-top: 50px
        margin-top: 0
        color: white
        letter-spacing: -.03em
        font-size: 100px
.mm-top-couple
    background-position: 50% 50%
.mm-top-wedding-party
    background-position: 50% 80%
.mm-intro
    margin-bottom: 35px


p
    font-family: $font-family-serif
    font-size: 14px
h1
    font-family: $font-family-sans-serif
    font-weight: bold

h2
    font-family: $font-family-sans-serif
    font-weight: bold
    font-size: 19px
    font-weight: 600
    color: $gray-darker
h3
    font-family: $font-family-sans-serif
    font-weight: bold
    font-size: 14px
    font-weight: 600
    color: $gray-darker

h4
    font-size: 12px
    font-weight: bold
    text-transform: uppercase


ul.mm-nav
    &.affix-top, &.affix, &.affix-bottom
        position: inherit
    @media (min-width: $screen-md-min)
        &.affix
            position: fixed
            top: 25px
    li
        font-size: 22px
        font-family: $font-family-sans-serif
        font-weight: bold
        text-transform: uppercase
        span
            font-family: $font-family-cursive
            text-transform: lowercase
        width: 25%
        white-space: nowrap
        margin-right: 20px
        a
            color: $gray-darker
            text-decoration: none
            &:hover, &:active
                color: $yellow-light
                text-decoration: none
            &.active
                color: $yellow-light

.footer
    padding-top: 25px
    padding-bottom: 50px

.person-group
    +clearfix
    margin-bottom: $grid-gutter-width/2

.person
    clear: both
    min-height: 250px
    margin-bottom: $grid-gutter-width
    h3
        margin-top: 0
    img
        position: absolute
        margin-right: $grid-gutter-width
    .person-description
        margin-left: 250px + $grid-gutter-width


// Image carousel
.carousel-inner .item
    height: 425px
    width: 99%
    margin-left: .5%
    margin-right: .5%
    background-position: 50% 50%
    background-position: 50% 50%
    background-size: cover
.mm-carousel-thumbs
    .carousel-selector
        margin: 1% .5% 0% .5%
        padding: 0
        height: 75px
        width: 15.6666666667%
        float: left
        background-size: cover

//.mm-carousel-thumbs img


// Registry
.mm-registry
    list-style-type: none
    display: block
    & > div
        display: block
        float: left
        height: 100px
        width: 30%
        background: $gray
        &:hover
            background: $gray-light
        margin-right: 10px
        a
            display: block
            line-height: 100px
            color: #fff
            text-align: center


.mm-footer
    clear: both
    margin-top: 55px
    padding: 30px
    text-align: center
    margin-bottom: 0px
    background: $gray
    color: white
