// Bootstrap Overrides
// -----------------------
$font-family-sans-serif:  "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif
$font-family-cursive:  "Life Savers", cursive

$yellow: #f8d930
$yellow-light: lighten($yellow,18%)
$yellow-lighter: lighten($yellow,30%)
$gray: #636a6d
$gray-darker: darken($gray, 15%)
$gray-light: #fafafa
$pink: #edbbaa
$pink-lighter: lighten($pink, 15%)


@import "bootstrap"

body
    background: #f6f6f6
    color: #111
    padding: 0
    margin: 0


.top
    height: 600px
    background-position: 50% 50%
    text-align: center
    background-size: cover
    h1
        font-family: $font-family-cursive
        padding-top: 350px
        margin-top: 0
        color: $yellow-lighter
        letter-spacing: -.03em
        font-size: 175px
p
    font-family: $font-family-sans-serif
    font-size: 15px
    font-weight: 300

h1
    font-family: $font-family-sans-serif
    font-weight: bold

h2
    font-family: $font-family-sans-serif
    font-weight: bold
    font-size: 19px
    font-weight: 600
    color: $gray-darker

nav
    margin: 10px
    padding: 15px 15px 20px 15px
    text-align: center
    font-family: $font-family-sans-serif
    text-transform: uppercase
    font-size: 22px
    font-weight: 400
    a
        color: $gray-darker
        margin-right: 20px
        padding-bottom: 3px
    a, a:visited, a:hover
        text-decoration: none
    a.active
        border-bottom: 5px solid $yellow-light

.footer
    padding-top: 25px
    padding-bottom: 50px