<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ site.baseurl }}/images/favicon.png" />
    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
    <script src="{{ site.baseurl }}/javascripts/jquery-1.11.0.min.js"></script>
    <script src="{{ site.baseurl }}/javascripts/holder.js"></script>
    <script src="{{ site.baseurl }}/javascripts/bootstrap/transition.js"></script>
    <script src="{{ site.baseurl }}/javascripts/bootstrap/carousel.js"></script>
    <script src="{{ site.baseurl }}/javascripts/bootstrap/affix.js"></script>
    <script src="{{ site.baseurl }}/javascripts/main.js"></script>
    <script src="{{ site.baseurl }}/javascripts/carousel.js"></script>
    <!-- <link href="http://fonts.googleapis.com/css?family=Lato:300,600,700|Life+Savers:400' rel='stylesheet' type='text/css'>" -->
   <link href='http://fonts.googleapis.com/css?family=Merriweather:400,700|Pacifico|Montserrat:400,700' rel='stylesheet' type='text/css'>
</head>
<body>

<div class="mm-top mm-top-{{ page.active }}" style="background-image:url({{ site.baseurl }}{{ page.photo }})">
    {% if page.active == "couple" %}
 <img class="mm-headline" src="{{ site.baseurl }}/images/marlaandmatt2.png" />
    {% endif %}
</div>

<div class="container">
    <div class="col-md-4">
    <ul class="mm-nav list-unstyled">
        <li>
        <a {% if page.active == "couple" %}class="active" {% endif %}href="{{ site.baseurl }}/"><span>The</span> Couple</a>
        </li>
        <li>
        <a {% if page.active == "photos" %}class="active" {% endif %}href="{{ site.baseurl }}/photos.html">Photos</a>
        </li>
        <li>
        <a {% if page.active == "wedding-party" %}class="active" {% endif %}href="{{ site.baseurl }}/wedding-party.html"><span>the</span> Wedding Party</a>
        </li>
        <li>
        <a {% if page.active == "ceremony" %}class="active" {% endif %}href="{{ site.baseurl }}/ceremony.html"><span>the</span> Big Day</a>
        </li>
        <li>
        <a {% if page.active == "registry" %}class="active" {% endif %}href="{{ site.baseurl }}/registry.html">Registry</a>
        </li>
    </ul>

    </div>
    <div class="content col-md-8">
        {{ content }}


    </div>
</div>


<div class="mm-footer">


    <img src="{{ site.baseurl }}/images/mandmthing-white.png" />


          <div class="mm-credits">
        <h4>Engagement Photos by <a href="http://brooklynhilary.wordpress.com/">Hilary McHone</a> - Site design by <a href="http://leesemel.com">Lee Semel</a>
        - <a href="terms.html">Terms</a></h4>

           </div>
    </div>




</body>
</html>
